<%= render(FormContainerComponent.new(title: "Sign in to your account")) do %>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="space-y-6">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>

      <div>
        <div class="flex items-center justify-between">
          <%= f.label :password, class: "block text-sm/6 font-medium text-gray-900" %>
          <%= link_to "Forgot password?", new_password_path(resource_name), class: "text-sm font-semibold text-indigo-600 hover:text-indigo-500" %>
        </div>
        <%= f.input :password,
                    required: true,
                    label: false,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <% if devise_mapping.rememberable? %>
        <%= f.input :remember_me, as: :boolean %>
      <% end %>

      <%= f.button :submit, "Sign in" %>
    </div>
  <% end %>

  <p class="mt-10 text-center text-sm/6 text-gray-500">
    Don't have an account?
    <%= link_to "Sign up", new_registration_path(resource_name), class: "font-semibold text-indigo-600 hover:text-indigo-500" %>
  </p>

  <p class="mt-2 text-center text-sm/6 text-gray-500">
    Didn't receive a confirmation email?
    <%= link_to "Request a new one", new_confirmation_path(resource_name), class: "font-semibold text-indigo-600 hover:text-indigo-500" %>
  </p>
<% end %>
