<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) ? "#{content_for(:title)} | Helium API" : "Helium API" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body class="h-full">
    <div class="min-h-full">
      <% if user_signed_in? %>
        <%= render NavbarComponent.new %>
      <% end %>

      <div class="py-6">
        <main>
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <% if flash.any? %>
              <div class="mb-6">
                <% flash.each do |type, message| %>
                  <%= render FlashMessageComponent.new(type: type, message: message) %>
                <% end %>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
